<div class="row justify-content-center">
  <div class="col-sm-6 col-lg-4">
    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src=<%= asset_path 'home/book1.jpg' %>>
      <div class="card-body info">
        <h4 class="card-title"> Chris Whitaker </h4>
        <p class="card-text">Chris Whitaker is the award-winning author of Tall Oaks and All The Wicked Girls. Both books were published to widespread critical acclaim, with Tall Oaks going on to win the CWA John Creasey New Blood Dagger Award. This is a beautifully written mystery, packed with unforgettable characters.Buy the book now to enjoy</p>
        <%= button_to "Buy Now","https://www.amazon.co.uk/Begin-End-beautifully-unforgettable-characters/dp/1785769405/ref=sr_1_4?crid=22AL5K12KICM1&keywords=novel&qid=1669903439&sprefix=novel%2Caps%2C87&sr=8-43", method: :get, class:"btn btn-outline-primary btn-lg" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src=<%= asset_path 'home/book2.jpg' %>>
      <div class="card-body info">
        <h4 class="card-title"> Donal Ryan </h4>
        <p class="card-text">Donal Ryan is an Irish writer. He has published six novels and one short story collection. In 2016, novelist and playwright Sebastian Barry described Ryan in The Guardian newspaper as "the king of the new wave of Irish writers". All of his novels have been number one bestsellers in Ireland. </p>
        <%= button_to "Buy Now","https://www.easons.com/Queen-Of-Dirt-Island-Donal-Ryan-9781781620403", method: :get, class:"btn btn-outline-primary btn-lg" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block"src=<%= asset_path 'home/book3.jpg' %>>
      <div class="card-body info">
        <h4 class="card-title">Mei Hachimoku</h4>
        <p class="card-text">A manga and light novel publisher. Seven Seas is devoted to producing high quality manga, comics, & novels with great stories and art! The award-winning, bittersweet sci-fi tale of a mysterious tunnel, time travel, and young summer love by the creators of Wait For Me Yesterday in Spring–inspired an anime film! Buy now to enjoy this story </p>
        <%= button_to "Buy Now","https://www.easons.com/the-tunnel-to-summer-the-exit-of-goodbyes-light-novel-mei-hachimoku-9781638584155", method: :get, class:"btn btn-outline-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>